# this file reflects the install_requiress from setup.py
httpagentparser
boto3
psycopg2
pyyaml<5.2,>=3.10
kubernetes
click
toml
awscli
urllib3<1.25
ruamel.yaml<1
requests==2.21
python-dateutil<2.8.1
botocore

